.app {
  display: flex;
  flex-wrap: wrap;
}

.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr auto;
  grid-gap: 16px;
  row-gap: 45px;
  box-sizing: border-box;

  background: $color_1;
  .app-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px;
    grid-gap: 16px;
    margin: 0;
    background: $color_2;
    .app-picture {
      grid-column: 1 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }
    .app-greeting {
      grid-column: 5 / 12;
      display: grid;
      align-content: center;
      .app-name {
        font-size: 50px;
      }
      .app-items {
        font-size: 22px;
      }
    }
  }
  .calc {
    grid-column: 3 / 11;
  }
  .app-footer {
    grid-column: 1 / -1;
    background: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      height: 30px;
      width: 30px;
      margin: 5px 0 5px 10px;
    }
  }
}
